.item-card{
  margin: 2%;
}

.items-content{
  margin-top: 3%;
}

.rating{
  color: #ffa000;
  display: -webkit-box;
}

.rating-title{
  color: black;
}

.quantity{
  margin-left: 5%;
  text-decoration: solid;
  font-size: 20px;
  font-weight: bold;
}

.review-image{
  width: 100px;
  height: 60px;
}