.update-modal-row{
  padding: 35px;
}

.update-delete-stock-card{
  height: inherit;
  margin-top: 200px;
}

.add-stock-card{
  margin-top: 200px;
}

.admin-stock-search-input{
  margin-top: 5%;
}

.adjust-stock-level{
  width: 100% !important;
}