<div class="row">
    <!--Card-->
    <div class="col-sm-4 customer-card" ng-repeat="customer in customerList">
        <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="{{customer.image | trustAsResourceUrl}}" alt="Card image cap">
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">{{customer.firstname}} | {{customer.surname}}</h4>
                <!--Text-->
                <h3>
                    Shipping Address: {{customer.shippingAddress}}
                </h3>
                <h3>
                    Payment Method: {{customer.paymentMethod}}
                </h3>
                <h3>

                </h3>
                <a data-toggle="modal" data-target="#modal-customer-purchase" ng-click="goToHistory(customer)" class="btn btn-primary">Purchase History</a>
            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->

    </div>


</div>

<!-- Modal Reviews -->
<div class="modal fade modal-ext" id="modal-customer-purchase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog review-modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <h3 class="w-100 text-center"><i class="fa fa-user"></i>Purchase History</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <!--purchase start-->
                <ul>
                    <li class="media" ng-repeat="purchase in purchaseList">
                        <div class="media-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="review-image" src="{{purchase.item.image | trustAsResourceUrl}}" />
                                </a>
                                <div class="media-body" >
                                    <h6>
                                        Total Price: <small class="text-muted">{{purchase.price}}</small>
                                    </h6>
                                    <h6>
                                        Item Quantity: <small class="text-muted">{{purchase.quantity}}</small>
                                    </h6>

                                    <br>
                                    <small class="text-muted" > Date/Time Purchased: </small>
                                    <small class="text-muted" ng-bind="purchase.date | date:'MM/dd/yyyy HH.mm.ss'">{{purchase.date}}</small>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                <!--review end-->




            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>