<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card category-card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="/resources/img/laptops.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Laptops</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" ng-click="goToItemPage('Laptop')">View Items</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card category-card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="/resources/img/tablets.jpeg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Tablets</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a ng-click="goToItemPage('Tablet')" class="btn btn-primary">View Items</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card category-card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="/resources/img/smartphones.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">SmartPhones</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a ng-click="goToItemPage('SmartPhone')" class="btn btn-primary">View Items</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card category-card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="/resources/img/tvs.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Smart TV's</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a ng-click="goToItemPage('TV')" class="btn btn-primary">View Items</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card category-card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="/resources/img/headphones.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Headphones</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a ng-click="goToItemPage('Headphones')" class="btn btn-primary">View Items</a>
                </div>
            </div>
        </div>
    </div>


</div>