<div class="container" ng-repeat="item in items">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{item.image | trustAsResourceUrl}}" /></div>
                    </div>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{item.title}}</h3>
                    <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                    <h4 class="price">current price: <span>€{{item.price}}</span></h4>
                    <div class="action" ng-show="$root.customerAccount" >
                        <button ng-click="addToCart(item)" class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-rounded" ng-click="decrement()">
                                <input type="radio" name="options" id="option1">&mdash;
                            </label>
                            <label class="btn btn-sm btn-primary btn-rounded" ng-click="increment()">
                                <input type="radio" name="options" id="option2">+
                            </label>
                            <span class="quantity">{{counter}}</span> <span>(Quantity)</span>
                        </div>
                        <br><br><br>
                    </div>
                    <div class="rate" ng-show="$root.customerAccount">
                        <h2 class="rate-title">Rate It: </h2>
                        <div class="stars" star-rating rating="starRating" click="addRating(param, item)" mouse-hover="" mouse-leave=""></div>
                    </div>
                    <h2 class="overall-rating">
                        Overall Rating: {{item.overallRating}}
                    </h2>

                </div>
                <button  ng-click="setItem(item)" class="add-to-cart btn btn-default" type="button" data-toggle="modal" data-target="#modal-reviews">View / Add Reviews</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal Reviews -->
<div class="modal fade modal-ext" id="modal-reviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog review-modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <h3 class="w-100 text-center"><i class="fa fa-user"></i>Reviews</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <h1>{{theItem.title}}</h1>
                <div class="md-form" ng-show="$root.customerAccount">
                    <i class="fa fa-envelope prefix"></i>
                    <textarea ng-model="description" type="text" id="form2" class="input-md review-input" placeholder="Insert Review"></textarea>
                </div>
                <div class="md-form">
                </div>
                    <button type="button" ng-click="addReview(description)" class="btn btn-warning" data-dismiss="modal" ng-show="$root.customerAccount">Add Review</button>



                <!--review start-->
                <ul>
                    <li class="media" ng-repeat="review in theItem.reviews">
                        <div class="media-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="review-image" src="{{review.customer.image | trustAsResourceUrl}}" />
                                </a>
                                <div class="media-body" >

                                    <br>
                                   {{review.review}}
                                    <br>
                                    <small class="text-muted" >{{review.customer.email}} | </small>
                                    <small class="text-muted" ng-bind="review.date | date:'MM/dd/yyyy HH.mm.ss'">{{review.date}}</small>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                <!--review end-->




            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
