<div class="container">



        <div class="col-md-8">
            <div class="card text-center customer-search-card">
                <div class="card-header warning-color white-text">
                    Search Items
                </div>
                <div class="card-block">
                    <h4 class="card-title">Please enter the Title, category or manufacturer of the Item you want to update or delete</h4>

                    <input class="admin-stock-search-input" type="text" ng-model="search" placeholder="Title / Category / Manufacturer">
                    <table  class="search-table" ng-show="(filteredData = (stock.all | filter:search)) && filteredData.length >= 2 && search && search.length >= 2">
                        <tr id="thisRow">
                            <td>
                                <a ng-click="orderByField='item.id'; reverseSort = !reverseSort">
                                    Stock ID <span ng-show="orderByField == 'item.id'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                                </td>
                            <td>
                                Image
                                </td>
                            <td><a ng-click="orderByField='item.title'; reverseSort = !reverseSort">
                                Title <span ng-show="orderByField == 'item.title'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a></td>
                            <td><a ng-click="orderByField='item.category'; reverseSort = !reverseSort">
                                Category <span ng-show="orderByField == 'item.category'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a></td>
                            <td><a ng-click="orderByField='item.manufacturer'; reverseSort = !reverseSort">
                                Manufacturer <span ng-show="orderByField == 'item.manufacturer'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a></td>
                        </tr><tr ng-repeat="item in filteredData | orderBy:orderByField:reverseSort">
                        <td>{{item.id}}</td>
                        <td class="search-image"><img src="{{item.image | trustAsResourceUrl}}" /></td>
                        <td>{{item.title}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.manufacturer}}</td>
                        <td ng-show="$root.customerAccount"><div class="action">
                            <button ng-click="addToCart(item)" class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-primary btn-rounded" ng-click="decrement()">
                                    <input type="radio" name="options" id="option1">&mdash;
                                </label>
                                <label class="btn btn-sm btn-primary btn-rounded" ng-click="increment()">
                                    <input type="radio" name="options" id="option2">+
                                </label>
                            </div>
                            <br><br><br>
                        </div></td>
                        <td><span class="quantity">{{counter}}</span> <span>(Quantity)</span></td>


                    </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>





<!--Update Stock Modal-->
<div class="modal fade modal-ext" id="modal-updateStock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3 class="w-100 text-center"><i class="fa fa-user"></i> Update Stock</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                <!--<div class="md-form">-->
                <!--<input ng-model="addStock.id" type="text" id="formId" class="input-md">-->
                <!--</div>-->

                <label ng-model="updateItem.id" id="formId"></label>


                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="updateItem.id" ng-readonly="updateRead" type="text" id="formManufacturer" class="input-md" placeholder="Title">
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="updateItem.title" type="text" id="formManufacturer" class="input-md" placeholder="Title">
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="updateItem.manufacturer" type="text" id="formManufacturer" class="input-md" placeholder="Manufacturer">
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="updateItem.price" type="text" id="formPrice" class="input-md" placeholder="Price">
                </div>

                <select ng-model="updateItem.category" class="mdb-select" id="formCategory">
                    <option value="" disabled selected>Category....</option>
                    <option>Laptop</option>
                    <option>Tablet</option>
                    <option>SmartPhone</option>
                    <option>TV</option>
                    <option>Headphones</option>
                </select>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="updateItem.image" type="text" id="formImageUrl" class="input-md" placeholder="ImageUrl">
                </div>

                <div class="text-center">
                    <button ng-click="updateItemSubmit(updateItem)" class="btn btn-primary btn-lg">Update Item</button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
