<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center add-stock-card">
                <div class="card-header default-color-dark white-text">
                    Add Stock
                </div>
                <div class="card-block">
                    <h4 class="card-title">Instructions</h4>
                    <p class="card-text">Click the button to load form to add new stock to the database</p>
                    <a class="btn btn-default" data-toggle="modal" data-target="#modal-addStock">Add</a>
                </div>
                <div class="card-footer text-muted default-color-dark white-text">
                    <p>Admin Feature Only</p>
                </div>
            </div>
        </div>



        <div class="col-md-8">
            <div class="card text-center update-delete-stock-card">
                <div class="card-header warning-color white-text">
                    Update or Remove Stock
                </div>
                <div class="card-block">
                    <h4 class="card-title">Please enter the Title, category or manufacturer of the Item you want to update or delete</h4>

                    <input class="admin-stock-search-input" type="text" ng-model="search" placeholder="Title / Category / Manufacturer">
                    <table ng-show="(filteredData = (stock.all | filter:search)) && filteredData.length >= 2 && search && search.length >= 2">
                        <tr id="thisRow">
                            <td>Stock ID</td>
                            <td>Title</td>
                            <td>Category</td>
                            <td>Manufacturer</td>
                        </tr><tr ng-repeat="item in filteredData">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.manufacturer}}</td>
                        <td>{{item.stockLevel}}</td>
                        <td><a class="btn btn-warning"
                               ng-click="loadUpdateModal(item)" data-toggle="modal" data-target="#modal-updateStock">Update</a></td>
                        <td><a ng-click="removeItem(item)" class="btn btn-danger removerow" >Delete</a></td>



                    </tr>
                    </table>
                </div>
                <div class="card-footer text-muted warning-color white-text">
                    <p>Admin Feature Only</p>
                </div>
            </div>
        </div>

    </div>


</div>


<!--Add Stock Modal-->
<div class="modal fade modal-ext" id="modal-addStock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3 class="w-100 text-center"><i class="fa fa-user"></i> Add Stock</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="addStock.title" type="text" id="form2" class="input-md" placeholder="Title">
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="addStock.manufacturer" type="text" id="form2" class="input-md" placeholder="Manufacturer">
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="addStock.price" type="text" id="form2" class="input-md" placeholder="Price">
                </div>

                <select ng-model="addStock.category" class="mdb-select">
                    <option value="" disabled selected>Category....</option>
                    <option>Laptop</option>
                    <option>Tablet</option>
                    <option>SmartPhone</option>
                    <option>TV</option>
                    <option>Headphones</option>
                </select>


                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="addStock.image" type="text" id="form2" class="input-md" placeholder="ImageUrl">
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input ng-model="addStock.quantity" type="text" id="form2" class="input-md" placeholder="Quantity">
                </div>

                <div class="text-center">
                    <button ng-click="addStockSubmit()" class="btn btn-primary btn-lg">Add Stock</button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>




<!--Update Stock Modal-->
<div class="modal fade modal-ext" id="modal-updateStock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3 class="w-100 text-center"><i class="fa fa-user"></i> Update Stock</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                <!--<div class="md-form">-->
                    <!--<input ng-model="addStock.id" type="text" id="formId" class="input-md">-->
                <!--</div>-->

                <label ng-model="updateItem.id" id="formId"></label>


                <div class="md-form">
                    <input ng-model="updateItem.id" ng-readonly="updateRead" type="text" id="formIdN" class="input-md" placeholder="Title">
                </div>

                <div class="md-form">
                    <input ng-model="updateItem.title" type="text" id="formTitle" class="input-md" placeholder="Title">
                </div>

                <div class="md-form">
                    <input ng-model="updateItem.manufacturer" type="text" id="formManufacturer" class="input-md" placeholder="Manufacturer">
                </div>

                <div class="md-form">

                    <input ng-model="updateItem.price" type="text" id="formPrice" >
                </div>
                <br>
                <br>
                <br>
                <div class="btn-group" data-toggle="buttons" style="width: 100%">
                    <label class="btn btn-sm btn-primary btn-rounded" ng-click="decrement()">
                        <input type="radio" name="options" id="option1">&mdash;
                    </label>
                    <label class="btn btn-sm btn-primary btn-rounded" ng-click="increment()">
                        <input type="radio" name="options" id="option2">+
                    </label>
                    <span class="quantity" ng-model="updateItem.stockLevel">{{$root.theCounter}}</span> <span>(Stock Level)</span>
                </div>
                <br>
                <br>
                <br>

                <select ng-model="updateItem.category" class="mdb-select" id="formCategory">
                    <option value="" disabled selected>Category....</option>
                    <option>Laptop</option>
                    <option>Tablet</option>
                    <option>SmartPhone</option>
                    <option>TV</option>
                    <option>Headphones</option>
                </select>

                <div class="md-form">
                    <input ng-model="updateItem.image" type="text" id="formImageUrl" class="input-md" placeholder="ImageUrl">
                </div>

                <div class="text-center">
                    <button ng-click="updateItemSubmit(updateItem)" class="btn btn-primary btn-lg" data-dismiss="modal">Update Item</button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
