<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">


    <!--admin navbar-->
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Jay Tronics</strong>
        </a>

        <!--admin navbar-->
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto" ng-show="$root.adminAccount">
                <li class="nav-item">
                    <a ng-click="goToHome()" class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a ng-click="goToUpdateItems()" class="nav-link">Update Stock</a>
                </li>
                <li class="nav-item">
                    <a ng-click="goToCustomers()" class="nav-link">Customers</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a ng-click="goToItemPage('Laptop')" class="dropdown-item">Laptops</a>
                        <a ng-click="goToItemPage('SmartPhone')" class="dropdown-item">Mobiles</a>
                        <a ng-click="goToItemPage('Tablet')" class="dropdown-item">Tablets</a>
                        <a ng-click="goToItemPage('TV')" class="dropdown-item">Smart TV's</a>
                        <a ng-click="goToItemPage('Headphones')" class="dropdown-item">Headphones</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav nav-flex-icons ml-auto" ng-show="$root.adminAccount">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Account</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" ng-click="logOut()">Log Out</a>
                    </div>
                </li>
            </ul>

        <!--admin nav end-->

        <!--customer nav start-->
            <ul class="navbar-nav mr-auto" ng-show="$root.customerAccount">
                <li class="nav-item">
                    <a ng-click="goToHome()" class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a ng-click="goToSearchItems()" class="nav-link">Search Items</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a ng-click="goToItemPage('Laptop')" class="dropdown-item">Laptops</a>
                        <a ng-click="goToItemPage('SmartPhone')" class="dropdown-item">Mobiles</a>
                        <a ng-click="goToItemPage('Tablet')" class="dropdown-item">Tablets</a>
                        <a ng-click="goToItemPage('TV')" class="dropdown-item">Smart TV's</a>
                        <a ng-click="goToItemPage('Headphones')" class="dropdown-item">Headphones</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav nav-flex-icons ml-auto" ng-show="$root.customerAccount">

                <li class="nav-item ">
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="hidden-sm-down">Cart</span></a>
                    <div class="dropdown-menu dropdown cart-list-dropdown" aria-labelledby="dropdownMenu1">


                        <div class="media" ng-repeat="cart in $root.unpaidCartList">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-cart " src="{{cart.item.image | trustAsResourceUrl}}">
                                    </a>
                                    <div class="media-body" >

                                        <br>
                                        {{cart.item.title}} |   <small class="text-muted" >({{cart.item.quantity}})</small>
                                        <br>
                                        <small class="text-muted" >Price:  </small>
                                        <small class="text-muted" >€{{cart.item.price}}</small>
                                        <button ng-click="removeFromCart(cart)" type="button" class="close remove-from-cart-button" >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>
                            Total Cart Price: €{{$root.totalCartPrice}}
                        </h3>
                        <a data-toggle="modal" data-target="#modal-buy-cart" class="btn btn-success" >Buy Cart</a>
                    </div>

                </li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Account</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" ng-click="logOut()">Log Out</a>
                    </div>
                </li>
            </ul>

        <!--customer nav end-->

        <!--loggedout nav start-->
            <ul class="navbar-nav mr-auto" ng-show="$root.loggedOutAccount">
                <li class="nav-item">
                    <a ng-click="goToHome()" class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a ng-click="goToSearchItems()" class="nav-link">Search Items</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a ng-click="goToItemPage('Laptop')" class="dropdown-item">Laptops</a>
                        <a ng-click="goToItemPage('SmartPhone')" class="dropdown-item">Mobiles</a>
                        <a ng-click="goToItemPage('Tablet')" class="dropdown-item">Tablets</a>
                        <a ng-click="goToItemPage('TV')" class="dropdown-item">Smart TV's</a>
                        <a ng-click="goToItemPage('Headphones')" class="dropdown-item">Headphones</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav nav-flex-icons ml-auto" ng-show="$root.loggedOutAccount">
                <li class="nav-item">
                    <a ng-click="logIn()" class="nav-link" data-toggle="modal" data-target="#modal-login">LogIn</a>
                </li>
            </ul>

        </div>
        <!--logged out nav end-->
    </div>
    <!--admin navbar end-->




    <!-- Modal Buy Cart -->
    <div class="modal fade modal-ext" id="modal-buy-cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h3 class="w-100 text-center"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy Cart</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    <h3 class="text-center">
                        Are You Sure You Want To Buy {{$root.unpaidCartList.length}} Item(s)?!
                    </h3>

                    <h3>
                        Have a discount code? Please enter here:
                    </h3>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input ng-model="discountCode" type="text" id="form2" class="input-md" placeholder="DISCOUNT CODE">
                    </div>


                    <div class="text-center">
                        <button ng-click="buyCart()" class="btn btn-success btn-lg" data-dismiss="modal">Buy Cart</button>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>





    <!-- Modal Register -->
    <div class="modal fade modal-ext" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h3 class="w-100 text-center"><i class="fa fa-user"></i> Register</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input ng-model="regCustomer.email" type="text" id="form2" class="input-md" placeholder="Email">
                    </div>

                    <h3>Chose A Payment Option: </h3>
                    <label class="checkbox-inline" ng-repeat="p in paymentMethodOptions">
                        <input ng-model="p.checked" type="checkbox" value="" ng-click="updateSelection($index, paymentMethodOptions)">{{p.name}}</label>

                    <div class="form-group">
                        <label>Shipping Address</label>
                        <textarea ng-model="regCustomer.shippingAddress" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input ng-model="regCustomer.password" type="password" id="form2" class="input-md" placeholder="Password">
                    </div>

                    <div class="text-center">
                        <button ng-click="regCustomerSubmit()" class="btn btn-primary btn-lg">Sign up</button>

                        <fieldset class="form-group">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">Subscribe me to the newsletter</label>
                        </fieldset>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!-- Modal Login -->
    <div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h3 class="w-100 text-center"><i class="fa fa-user"></i> Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <select ng-model="loginType" class="mdb-select">
                        <option value="" disabled selected>Login as....</option>
                        <option>Administrator</option>
                        <option>Customer</option>
                    </select>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input ng-model="loginUser.email" type="text" id="form2" class="input-md" placeholder="Email">
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input ng-model="loginUser.password" type="password" id="form3" class="input-md" placeholder="Password">
                    </div>
                    <div class="text-center">
                        <button ng-click="loginSubmit()" class="btn btn-primary btn-lg" data-dismiss="modal">Login</button>
                    </div>
                    <small>No Account?, Register here: </small>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-register" data-dismiss="modal">
                        Modal Register
                    </button>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

</nav>
